body {
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.main-body {
    height: 100vh;
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 10rem;
}

.navbar {
    background-color: rgba(1, 4, 9, 255);
    padding-left: 1rem;
}

.navbar button:hover {
    color: red;
}

.navbar #searchRecipe {
    background: transparent;
    border: none;
    flex-grow: 1;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    margin-right: 10px;
    padding-right: 10px;
}

.navbar #searchRecipe::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.navbar #searchRecipe:focus {
    outline: none;
    border-color: white;
}

.navbar a:hover {
    color: red;
}

.navbar a {
    cursor: pointer;
}

#main-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.card {
    border-color: white;
    color: white;
    margin: 1rem;
    width: 16rem;
    height: 15rem;
    background-color: #262626;
}

.card-body h5 {
    margin: 0 0 10px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-group-item {
    border-color: white;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #262626;
}

.li a {
    -webkit-border-radius: 50%;
    background-color: rgba(89, 206, 181, 0.85);
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    font-size: 12px;
}

a {
    color: #707070;
}

.modal-body input {
    font-size: 1rem;
    font-weight: 400;
}

.modal-body label {
    font-size: large;
    font-weight: 600;
}

#searchRecipe {
    font-size: medium;
    font-weight: 500;
}

#logout-button {
    border-radius: 10%;
    height: 35px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
}

#logout-button[disabled] {
    background-color: lightgray;
    color: gray;
}

@media (max-width: 768px) {
    .navbar {
        padding-left: 0.5rem;
    }

    #logout-button {
        margin-left: 0;
    }
}
